<h1>Shopping Cart</h1>

<form action="/checkout" method="POST">
    <label for="item"></label>
    <input id="item" type="text" name="item">
    <button type="submit" value="submit">Checkout</button>
</form>